
/*Navbar*/

body{
    background-color:#232323;
    padding: 24px 52px;
    font-family: prompt;
}
body nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
#logo{
    font-family: bree-serif;
    font-size: 24px;
    color: #ffffff;
}
#active{
    color: #ffffff;
}
nav a{
    text-decoration: none;
    color: #545454;
    font-size: 16px;
    margin: 15px;
}
#signin{
    background-color: #dbdbdb;
    padding: 5px 10px;
    border-radius: 10px;
}
#signin a{
    color: #000000;
}
#signin:hover{
    background-color: #8f8f8f;
}
nav a:hover{
    color: #ffffff;
}
.top-icon{
    width: 30px;
    height: 30px;
}

/*Header*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#first-half{
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}
#inside1{
    display: flex;
    justify-content: space-around;
    align-items: left;
    color: #ffffff;
}
#head{
    font-size: 32px;
    margin: 0;
}
#watch{
    width: 200px;
    height: 50px;
}
#watch-text{
    position:relative;
    top: -20px;
    left: -190px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
#info{
    text-align: center;
}
#discover{
    background-color: #d9d9d9;
    width: 250px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    margin: 10px 0px;
}
#discover a{
    color: #000000;
    text-decoration: none;
}
#inside2{
    background-color: #2e2e2e;
    display:flex;
    justify-content: space-around;
    align-items: left;
    padding: 15px;
    border-radius: 30px;
}
#inside2 div{
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 10px 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#inside2 div img{
    height: 100px;
    width: 85px;
}
#second-half{
    background-color: #dbdbdb;
    border-radius: 10px;
    padding: 15px;
}
#second-half img{
    width: 300px;
    height: 280px;
}
#heads{
    font-size: 28px;
    margin: 0;
}
#second-half section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #000000;
}